*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     user-select: none;
}
:root{
    --yellow: #e79939;
    --purple:#4857c5;
}

body{
background-color: var(--bs-gray-100);
}

.btn{
    // outline: none;
    box-shadow: none !important;

    &:focus{
        border-color: var(--bs-primary) !important;
    }
}

// @import "./tabs";
@import "./stats";